.estilo-lista {
color: rgb(0, 0, 0);
font-weight: bold;
font-style: italic;
line-height:30px;
text-align: justify;
margin-top: 0%;
padding-left: 0%;
  
}

li:hover{
    
    background-color: azure;
    margin-right: 0;
    margin-left: 15px;
    color: aliceblue;
}

.indice{

    background-color: rgb(21, 255, 0);
    position: absolute;
    width: 20%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}