body{
    margin: 0;
    background-color: rgb(177, 190, 175);
}
.estilo-lista {

font-weight: bold;
font-size: large;
font-style: italic;
line-height:30px;
text-align: justify;
margin-top: 0%;
padding-left: 0%;
padding-bottom: 0px;
  
}

.indice2:hover{

    background-color: azure;
    margin-right: 0;
    margin-left: 15px;
    color: aliceblue;
    padding: 0px 0px;
    border-radius: 20px;
}

.indice{

    background-color: rgb(177, 190, 175);
    position: absolute;
    width: 20%;
    height: 123px;
    border-radius: 20px;
    z-index: 2;
    border-style:hidden;
}

a{

    text-decoration: none;
    color: black;
    padding: 3px 3px;
}

a:hover{

    color: blue;
}

ul{
    
    list-style: none;
}

.menu{

    background-color: rgb(72, 74, 75);
    width: 99.2%;
    height: 123px;
    position: absolute;
    margin: 0px;
    margin-left: 1px;
    padding: 0px;
    z-index: 1;
    border-radius: 20px;
    font-size: 2em;
}

.hover:hover{

        color: blue;
        font-size: 2em;
        
}   
strong{

    background-color: rgb(189, 165, 165);
}
.foto-eu{

    width: 30%;
    border-radius: 200px;
    margin: auto;
    display: block;
   

 }