body{
    margin: 0;
    background-color: rgb(177, 190, 175);
}
.estilo-lista {

font-weight: bold;
font-size: large;
font-style: italic;
line-height:30px;
text-align: justify;
margin-top: 0%;
padding-left: 0%;
padding-bottom: 0px;
  
}

.indice2:hover{

    background-color: azure;
    margin-right: 0;
    margin-left: 15px;
    padding: 0px 0px;
    border-radius: 20px;
    color: blue;
}

.indice{

    background-color:rgb(177, 190, 175);
    position: absolute;
    width: 20%;
    height: 123px;
    border-radius: 20px;
    z-index: 2;
    border-style:hidden;
    padding: 0%;
}

a{

    text-decoration: none;
    color: black;
    padding: 3px 3px;
}

a:hover{

    color: blue;
}

ul{
    
    list-style: none;
}

.menu{

    background-color: rgb(72, 74, 75);
    width: 99.2%;
    height: 123px;
    position: absolute;
    margin: 0px;
    margin-left: 1px;
    padding: 0px;
    z-index: 1;
    border-radius: 20px;
    font-size: 2em;
}

.hover:hover{

        color: blue;
        font-size: 2em;
        
}   
strong{
    color: black;
    background-color: rgb(153, 150, 150);
}
.foto-eu{

    width: 30%;
    border-radius: 200px;
    margin: auto;
    display:block;
   
 }

 .pmarron{

    color: aliceblue;
    background-color: rgb(117, 117, 117);
 }

 .alinhaTexto{

    text-indent: 40px;
    color: rgb(8, 8, 8);
    background-color: rgba(145, 160, 148, 0.979);
    width: 70%;
    text-align: justify;
    margin: auto;
    display: flex;
    font-size:bold;
 }

 .skill{
    
    margin: auto;
    width: 20%;
    display: flex;
    padding: 0%;

 }

 h3:hover{

    color: blue;
    
}  

#link-externo{

    background-color: white;

}

.estilo-lista2 {

    font-weight: bold;
    font-style: italic;
    line-height:30px;
    text-align: justify;
    margin-left: 30px;
      
    }

